software_or-we-516/.pio
software_or-we-516/.vscode/.browse.c_cpp.db*
software_or-we-516/.vscode/c_cpp_properties.json
software_or-we-516/.vscode/launch.json
software_or-we-516/.vscode/ipch
software_or-we-504/.pio
software_or-we-504/.vscode/.browse.c_cpp.db*
software_or-we-504/.vscode/c_cpp_properties.json
software_or-we-504/.vscode/launch.json
software_or-we-504/.vscode/ipch
